.body{
    padding: 0px;
    margin: 0px;
}

.item{    
    border: 1px solid black;
    height: 100px;
    width: 100px;
}

.conteiner{
    display: flex;
    outline: 1px solid black;
    justify-content: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 200px;      
}

.item_header{
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.item2{    
    border: 1px solid black;
    height: 100px;
    width: 100px;
}
.conteiner2{
    display: flex;
    outline: 1px solid black;
    /* justify-content: flex-start; */
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    width: 500px;
    height: 300px;
        
}

.item_header2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 500px;

}