.body{
    padding: 0px;
    margin: 0px;
}

.head{
    height: 50px;
    width: 100%;
}

.line_bottoms{
    height: 20px;
    width: auto; 
    /* display: inline-block; */
    float: right;
    text-align: center;
}

.home{
    height: 20px;
    width: 100px;
    display: inline-block;
    padding: auto;
    margin-right: 20px;  
}

.wrapper{
    min-height: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url(img/Hubble_universe.jpg);
}

.conteiner{
    display: flex;
    outline: 1px solid black;
    justify-content: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;  
}

.item-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ttl1{
    text-align: center;
    color: white;
}

.top-left-side{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.top-right-side{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    float: right;
}

.middle-left-side{
    width: 33.33%;
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
}

.center{
    width: 33.33%;
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;   
}

.middle-right-side{
    width: 33.33%;
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bottom{
    width: 15%;
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.div-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
}

.img{
    min-width: 300px;
    min-height: 300px;
    width: 500px;
    height: 500px;
}

.img-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 300px;
    min-height: 300px;
    width: 100px;
    height: 100px;
}