.main{
    /* display: flex; */
    width: 100%;
    min-width: 430px;
    max-width: 960px;
    min-height: auto;
    margin: auto;
    box-sizing: border-box;
}

.grid{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 3px solid blue;
}

.grid-itm{
    margin-bottom: 30px;
    flex: 0 1 cals(33.33% - 30px * (2/3));
    display: flex;
    flex-wrap: wrap;
}

.grid-img{
    width: 200px;
    height: 200px;
    background-color: black;
    
    display: block;
    margin-bottom: 30px;
}

.sqr{
    width: 200px;
    height: 200px;
    background: black;
}

@media screen and (max-width: 860px) {
    .grid-itm{
        flex: 0 1 calc(50% -30px /2);
    }
}

@media screen and (max-width: 500px) {
    .grid-itm{
        flex: 0 1 100%;
    }
}     
/* mobile */