class2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 200px;
    width: 400px;
    border: 2px solid red;
    font-size: 30px; /* */
    text-align: center;
    color: green;
}

class3{
    color: black;
    font-size: 60px;

}